.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline-color: black;
  outline-width: 2px;
}

#map {
  width: 60%;
  height: 60vh;
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
}

